calculatorJSF/src/wsdl/127.0.0.1_8084/sample/ws/cityDistanceDefinition.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.springsource.com/citydistance" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.springsource.com/citydistance" targetNamespace="http://www.springsource.com/citydistance">
  <wsdl:types>
    <xs:schema xmlns:r="http://www.springsource.com/citydistance" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.springsource.com/citydistance">

	<xs:element name="setCityDistanceRequest">
		<xs:complexType>
			<xs:attribute name="city1" type="xs:string" use="required"/>
			<xs:attribute name="city2" type="xs:string" use="required"/>
			<xs:attribute name="distance" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="setCityDistanceResponse">
		<xs:complexType>
			<xs:attribute name="status" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="getCityDistanceRequest">
		<xs:complexType>
			<xs:attribute name="city1" type="xs:string" use="required"/>
			<xs:attribute name="city2" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="getCityDistanceResponse">
		<xs:complexType>
			<xs:attribute name="distance" type="xs:integer" use="required"/>
			<xs:attribute name="status" type="xs:string"/>
		</xs:complexType>
	</xs:element>
 
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getCityDistanceRequest">
    <wsdl:part element="tns:getCityDistanceRequest" name="getCityDistanceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setCityDistanceResponse">
    <wsdl:part element="tns:setCityDistanceResponse" name="setCityDistanceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setCityDistanceRequest">
    <wsdl:part element="tns:setCityDistanceRequest" name="setCityDistanceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCityDistanceResponse">
    <wsdl:part element="tns:getCityDistanceResponse" name="getCityDistanceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CityDistance">
    <wsdl:operation name="setCityDistance">
      <wsdl:input message="tns:setCityDistanceRequest" name="setCityDistanceRequest">
    </wsdl:input>
      <wsdl:output message="tns:setCityDistanceResponse" name="setCityDistanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCityDistance">
      <wsdl:input message="tns:getCityDistanceRequest" name="getCityDistanceRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCityDistanceResponse" name="getCityDistanceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CityDistanceSoap11" type="tns:CityDistance">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="setCityDistance">
      <soap:operation soapAction=""/>
      <wsdl:input name="setCityDistanceRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setCityDistanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCityDistance">
      <soap:operation soapAction=""/>
      <wsdl:input name="getCityDistanceRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCityDistanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CityDistanceService">
    <wsdl:port binding="tns:CityDistanceSoap11" name="CityDistanceSoap11">
      <soap:address location="http://localhost:8080/sample/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>